services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    restart: unless-stopped
    networks:
      - app_network

  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   ports:
  #     - "5173:80"
  #   environment:
  #     - VITE_API_BASE=http://0.0.0.0:8000
  #   depends_on:
  #     - backend
  #   restart: unless-stopped
  #   networks:
  #     - app_network

networks:
  app_network:
    driver: bridge
